#table {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #ccfcd4, #6cf484)
}

#title {
    color: black;
    margin: 0%;
    margin-bottom: 6px;
}
#general {
    /* https://blog.hubspot.com/website/center-div-css#center-div-horizontally-vertically */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* ~~~ */
    height: 97%;
    width: 70%;
    margin: 0%;
}

#row1 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
    #clubAce {
        width: 8.2%;
        height: 140px;
        margin: auto;
        margin-left: 0px;
        background-image: url(cardBack.png);
        background-size: cover;
    }
    #heartAce {
        width: 8.2%;
        height: 140px;
        margin: auto;
        background-image: url(cardBack.png);
        background-size: cover;
    }
    #spadeAce {
        width: 8.2%;
        height: 140px;
        margin: auto;
        background-image: url(cardBack.png);
        background-size: cover;
    }
    #diamondAce {
        width: 8.2%;
        height: 140px;
        margin: auto;
        background-image: url(cardBack.png);
        background-size: cover;
    }
    #cardSpace {
        width: 8.2%;
        height: 140px;
        margin: auto;
        margin: auto;
    }
    #discardPile {
        width: 8.2%;
        height: 140px;
        margin: auto;
        background-image: url(cardBack.png);
        background-size: cover;
    }
    #stockPile {
        width: 8.2%;
        height: 140px;
        margin: auto;
        background-image: url(cardBack.png);
        background-size: cover;
        margin-right: 0px;
    }

#space {
    height: 5%;
    width: auto;
}
#row2 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
#row3 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
#row4 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
#row5 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
#row6 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
#row7 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
#row8 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
#row9 {
    height: 15%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
}
.card {
    background-image: url(cardBack.png);
    background-size: contain;
    width: 8.3%;
    height: 140px;
    margin: auto;
}
.blankCard {
    width: 8.3%;
    height: 140px;
    margin: auto;
}
#r2c1 {
    margin-left: 0px;
}
#r3c1 {
    margin-left: 0px;
}
#r4c1 {
    margin-left: 0px;
}
#r5c1 {
    margin-left: 0px;
}
#r6c1 {
    margin-left: 0px;
}
#r7c1 {
    margin-left: 0px;
}
#r8c1 {
    margin-left: 0px;
}
#r9c1 {
    margin-left: 0px;
}

#r2c7 {
    margin-right: 0px;
}
#r3c7 {
    margin-right: 0px;
}
#r4c7 {
    margin-right: 0px;
}
#r5c7 {
    margin-right: 0px;
}
#r6c7 {
    margin-right: 0px;
}
#r7c7 {
    margin-right: 0px;
}
#r8c7 {
    margin-right: 0px;
}
#r9c7 {
    margin-right: 0px;
}